@using DayEasy.Utility.Extend
@model List<DayEasy.Contracts.Dtos.Examination.ExamSubjectDto>
@{
    ViewBag.Title = "单科分析";
    var subjects = (ViewData["subjects"] as Dictionary<int, string>);
    var subject = "subject".Query(-1);
}

<div class="dy-main-wrap">
    @Html.Partial("_Navigation", 5)
    <div class="dy-list dy-list-bg">
        <div class="dy-title">
            <a class="dy-panel on">单科分析</a>
            <a class="dy-panel" href="@Url.Action("Examinations")">年级报表</a>
            <select name="subject">
                @if (subject <= 0)
                {
                    <option value="-1" selected="selected">所有科目</option>
                }
                else
                {
                    <option value="-1">所有科目</option>
                }
                @if (subjects != null)
                {
                    foreach (var item in subjects)
                    {
                        if (subject == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="dy-content">
            <table class="dy-table">
                <colgroup>
                    <col />
                    <col style="width: 5em" />
                    <col style="width: 7em" />
                    <col style="width: 7em" />
                    <col style="width: 6em" />
                    <col style="width: 15em" />
                    <col style="width: 6em" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="f-tal">试卷信息</th>
                        <th>科目</th>
                        <th>结束时间</th>
                        <th>学生人数</th>
                        <th>班级数</th>
                        <th class="f-tal">参与班级</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var joint in Model)
                    {
                        <tr>
                            <td class="f-tal">
                                <a target="_blank" href="/paper/detail/@joint.PaperId">@joint.PaperTitle</a>
                            </td>
                            <td>@joint.Subject</td>
                            <td>
                                <abbr title="@joint.FinishedTime.ToString("yyyy年MM月dd日HH时mm分")">@joint.FinishedTime.ToString("yyyy-MM-dd")</abbr>
                            </td>
                            <td>@joint.StudentCount</td>
                            <td>@joint.ClassCount</td>
                            <td class="f-tal">
                                @if (!joint.JointClasses.IsNullOrEmpty())
                                {
                                    <div class="d-class-list">
                                        @foreach (var cls in joint.JointClasses)
                                        {
                                            <span>@cls.ClassName<small>(@(cls.StudentCount)人)</small></span>
                                        }
                                    </div>
                                }
                            </td>
                            <td>
                                <a href="/work/teacher/statistics-score-joint?joint_batch=@joint.JointBatch&paper_id=@joint.PaperId" target="_blank">查看详情</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8">
                            共<b class="total-num">@ViewBag.TotalCount</b>条数据
                        </th>
                    </tr>
                </tfoot>
            </table>

            <div class="d-pager">
                @Html.ShowPager("pageindex".Query(1), "pagesize".Query(10), (int)ViewBag.TotalCount)
            </div>
        </div>
    </div>
</div>

@section css{
    @Html.CombineLink("v3/css/ea/ui-base.css")
<style>
    .dy-main-wrap .dy-list .dy-panel.on:after {
            width: 75px;
    }
    </style>
}
@section js{
    <script>
        (function ($) {
            $('select[name="subject"]').bind('change', function () {
                var subject = $(this).val();
                location.href = '/ea/subject?subject=' + subject;
            });
        })(jQuery);
    </script>
}
