@using DayEasy.Core
@using DayEasy.ThirdPlatform.Entity.Config
@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="lg-sliders j-autoHeight"
     ng-controller="loginCtrl"
     data-left="60"
     data-min="350">
    <div class="lg-slider">
        <ol class="slider-controls"></ol>
    </div>
    <div class="dy-container">
        <div class="lg-form-wrap">
            <div class="lg-form-box f-cb">
                <form name="loginForm"
                      novalidate
                      autocomplete="off"
                      class="lg-form"
                      role="form"
                      ng-click="maskClick()"
                      ng-submit="login()">
                    <div class="lg-login-h3 f-cb">
                        <h3 class="f-fl">登录</h3>
                    </div>
                    <div class="lg-form-group">
                        <div class="lg-input-group">
                            <span class="lg-icon">
                                <i class="iconfont dy-icon-49"></i>
                            </span>
                            <input type="text"
                                   name="account"
                                   class="lg-text"
                                   ng-model="user.account"
                                   placeholder="邮箱地址/手机号/得一号"
                                   autofocus
                                   autocomplete="off"
                                   required
                                   ng-readonly="logining"
                                   id="email"/>
                        </div>
                    </div>
                    <div class="lg-form-group">
                        <div class="lg-input-group">
                            <span class="lg-icon">
                                <i class="iconfont dy-icon-mima"></i>
                            </span>
                            <input type="password"
                                   name="pwd"
                                   class="lg-text"
                                   ng-model="user.password"
                                   placeholder="登录密码"
                                   ng-minlength="6"
                                   ng-readonly="logining"
                                   required/>
                        </div>
                    </div>
                    <div class="lg-form-group" ng-show="error.count>2">
                        <div class="lg-vcode">
                            <input type="text"
                                   name="vcode"
                                   class="lg-text"
                                   ng-model="user.vcode"
                                   placeholder="验证码"
                                   ng-readonly="logining"
                                   ng-required="error.count>2"/>
                            <img ng-src="{{vcodeUrl}}"
                                 alt="点击刷新"
                                 title="点击刷新"
                                 ng-model="vcodeUrl"
                                 ng-click="refreshVcode()"/>
                        </div>
                    </div>
                    <div class="lg-form-group f-cb">
                        <a class="f-fl lg-password" href="@(Consts.Config.AccountSite)/find">忘记密码?</a>
                        <a class="f-fr lg-href" href="@Consts.Config.RegisterSite">立即注册 ></a>

                    </div>
                    <div class="lg-form-group">
                        <button type="submit"
                                class="btn"
                                ng-class="logining?'disabled':''"
                                ng-disabled="logining">
                            <i class="fa fa-refresh fa-spin" ng-if="logining"></i>
                            <span ng-bind="logining?'登录中...':'登录'"></span>
                        </button>
                    </div>
                    <div class="lg-form-group lg-plat">
                        第三方登录：
                        <a href="javascript:void(0)" ng-click="thirdLogin(@((int) PlatformType.Tencent))" title="腾讯QQ">
                            <i class="iconfont dy-icon-31"></i>
                            <i class="iconfont dy-icon-41"></i>
                        </a>
                        @*<a href="javascript:void(0)" ng-click="thirdLogin(@((int)PlatformType.Weibo))" title="新浪微博"><img alt="微博登录" src="/Content/img/weibo-16.png" /></a>*@
                        @*<a  href="javascript:void(0)" ng-click="thirdLogin(@((int)PlatformType.Weixin))" title="微信"><img alt="微信登录" src="/Content/img/weixin-16.png" /></a>*@
                    </div>
                    <div class="error-info" ng-class="error.type">
                        <div class="error-content">
                            <i class="fa fa-warning"></i>
                            <span ng-bind="error.msg"></span>
                            <a ng-href="{{error.link}}"
                               ng-show="error.link"
                               ng-bind="error.linkText"></a>
                        </div>
                        <div class="pull-right error-angle"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="error-mask" ng-show="error.type" ng-click="maskClick()"></div>
</div>
@section nav{
    <div class="dy-nav">
@*        <a href="@Consts.Config.RegisterSite">注册</a>*@
        @*<i></i>
        <a href="@Consts.Config.MainSite/helper">帮助中心</a>*@
    </div>
}
@section css{
    @Html.CombineLink("v3/css/account/lg-base.css,v3/css/account/page-login.css")
}

@section js{
    @Html.CombineLink("js/Jq-backstretch.js,plugs/angular/angular.min.js,v3/js/autoMail.js,v3/js/account/lg-controller.js")
}
