@model DayEasy.Contracts.Management.Dto.HomePageDataDto
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<div id="fullpage">
    <div class="section" id="section0" style="height: 1000px;">
        <div class="index-layer index0 opacitys animate-time1 animation-delay08">
            <div class="contents">
                <h2 class="lropcity animate-time1 animation-delay08">实现名校梦想，从这里开始</h2>
                <div class="target rlopcity animate-time1 animation-delay08">
                    已有 <strong id="targetCount">--</strong> 名师生加入了得一
                </div>
                <div class="soso-index opacitys animate-time1 animation-delay08">
                    <div class="form">
                        <div class="select_wrapper">
                            <input type="text" class="key-agency" placeholder="学校名称" autofocus>
                            <span class="btn-soso b-search-agency"><i class="iconfont dy-icon-search"></i></span>
                            <ul class="select_inner"></ul>
                        </div>
                    </div>
                    <dl class="hot f-cb" id="hotAgencies">
                        <dt>热门搜索：</dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="guide-index">
            <a class="topLink" href="#section1"><span></span></a>
        </div>
    </div>
    <div class="section" id="section1">
        <div class="index-layer index1">
            <!--G-header-->
            <div class="g-title-base g-index-title-1">
                <div class="m-left f-cb">
                    <i class="iconfont dy-icon-interaction wow swing"></i>
                    <h2>得一生态</h2>
                </div>
                <div class="m-right">
                    <hr />
                    <span>更省心、更高效、更有趣</span>
                </div>
            </div>
            <!--G-M-1-->
            <div class="w1000 g-index-1 g-index-base">
                <nav class="m-index-nav">
                    <ul class="nav-list">
                        <li class=" rollIn">
                            <a href="">
                                <span class="iconfont dy-icon-plan"></span>
                            </a>
                            <span class="box0">梦想规划</span>
                            <p class="box1">DREAM PLANNING</p>
                        </li>
                        <li class=" bounceInU">
                            <a href="">
                                <span class="iconfont dy-icon-coordination"></span>
                            </a>
                            <span class="box0">协同工作</span>
                            <p class="box1">COOPERATIVE  WORK</p>
                        </li>
                        <li class=" bounceInRight">
                            <a href="">
                                <span class="iconfont dy-icon-achievement"></span>
                            </a>
                            <span class="box0">个人成就</span>
                            <p class="box1">ACHIEVEMENT</p>
                        </li>
                        <li class=" bounceInRight ">
                            <a href="">
                                <span class="iconfont dy-icon-coach"></span>
                            </a>
                            <span class="box0">个性辅导</span>
                            <p class="box1">COUNSELING</p>
                        </li>
                    </ul>
                    <div class="m-index-data wow pulse" data-wow-iteration="5" data-wow-duration="0.25s">
                        <div class="on1">
                            <div class="bg-1"></div>
                            <div class="bg-2">
                                <div class="bgs0-contens">
                                    <h3>协同工作</h3>
                                    <p>COOPERATIVE WORK</p>
                                    <span></span>
                                    <dl class="f-cb">
                                        <dt>协同组卷</dt>
                                        <dd>1256</dd>
                                        <dt>协同批阅</dt>
                                        <dd>45896</dd>
                                        <dt>协同任务</dt>
                                        <dd>4824</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="bg-3"></div>
                            <div class="bg-4">
                                <div class="bgs0-contens">
                                    <h3>个人成就</h3>
                                    <p>ACHIEVEMENT</p>
                                    <span></span>
                                    <dl class="f-cb">
                                        <dt>得一名师</dt>
                                        <dd>321</dd>
                                        <dt>青春留念</dt>
                                        <dd>1377</dd>
                                        <dt>学霸养成</dt>
                                        <dd>192</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="bg-5"></div>
                            <div class="bg-6">
                                <div class="bgs0-contens">
                                    <h3>个性辅导</h3>
                                    <p>COUNSELING</p>
                                    <span></span>
                                    <dl class="f-cb">
                                        <dt>专题辅导</dt>
                                        <dd>38420</dd>
                                        <dt>试卷精析</dt>
                                        <dd>4356</dd>
                                        <dt>变式训练</dt>
                                        <dd>138421</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="bg-7"></div>
                            <div class="bg-8">
                                <div class="bgs0-contens">
                                    <h3>梦想规划</h3>
                                    <p>DREAM  PLANNING</p>
                                    <span></span>
                                    <dl class="f-cb">
                                        <dt>学业策划</dt>
                                        <dd>1750</dd>
                                        <dt>素质拓展</dt>
                                        <dd>385</dd>
                                        <dt>名校之路</dt>
                                        <dd>256</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="bgs-0 bgs-base">
                                <div class="chilrend-bgs-1"></div>
                            </div>
                            <div class="bgs-1 bgs-base">
                                <div class="chilrend-bgs-1"></div>
                            </div>
                            <div class="bgs-2 bgs-base">
                                <div class="chilrend-bgs-1"></div>
                            </div>
                            <div class="bgs-3 bgs-base">
                                <div class="chilrend-bgs-1"></div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <!--数据覆盖-->
        <div class="index-layer index2">
            <div class="g-title-base g-index-title-2">
                <div class="m-left f-cb">
                    <i class="iconfont dy-icon-1 wow swing"></i>
                    <h2>数据覆盖</h2>
                </div>
                <div class="m-right">
                    <hr />
                    @*<span><em id="agencyCount" class="m-number">0</em> 所人气名校，<em id="userCount" class="m-number">0</em> 名师生</span>*@
                    <span>他们来自</span>
                </div>
            </div>
            <div class="logo-inner">
                <canvas width="1000" height="500" id="logo-list">
                    <p>
                        我的得一 服务学校
                    </p>
                </canvas>
                <div id="linkContainer" style="display: none;">
                    @foreach (var item in Model.Coverages)
                    {
                        <a href="@item.TextLink" target="_blank" title="@item.Text">
                            <img src="@item.ImageUrl"
                                 alt="" width="240" height="80" />
                        </a>
                    }
                </div>
                <img id="logo-static" width="1000" height="500" src="@Url.StaticLink("/v3/image/index/logolist.png")" alt="我的得一学校服务LOGO">
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="index-layer index3">
            <div class="g-title-base g-index-title-3">
                <div class="m-left f-cb">
                    <i class="iconfont dy-icon-resources wow swing"></i>

                    <h2>得一精选</h2>
                </div>
                <div class="m-right">
                    <hr />
                    <span>有思想&nbsp;有温度&nbsp;有价值</span>
                </div>
            </div>
            <div class="wrap-ul w1000">
                <div class="wrap-ul-index">
                    <ul class="content-ul-index f-cb">
                        @foreach (var item in Model.Resources)
                        {
                            <li>
                                <a target="_blank" href="@item.TextLink">
                                    <div class="indx-img-hove">
                                        <img class="lazyload" data-src="@item.ImageUrl" alt="@item.Name" width="280" height="450" />
                                        <div class="caption slide-up">
                                            <h3>@item.Name</h3>
                                            <p>@item.Text</p>
                                        </div>
                                        <div class="bg"></div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="prev"><i class="iconfont dy-icon-angleleft"></i></div>
                <div class="next"><i class="iconfont dy-icon-angleright"></i></div>
            </div>
        </div>
    </div>
    <div class="section" id="section4">
        <div class="index-layer index4">
            <!--榜样力量-->
            <div class="g-title-base g-index-title-5">
                <div class="m-left f-cb">
                    <i class="iconfont dy-icon-example wow swing"></i>
                    <h2>榜样力量</h2>
                </div>
                <div class="m-right">
                    <hr />
                    <span>见贤思齐，是成长的最大源泉</span>
                    <a class="m-example" href="javascript:void(0);">推荐榜样</a>
                </div>
            </div>
            <div class="g-role-model">
                <ul class="f-cb">
                    @{
                        var i = 0;
                        Model.ExamplesLeft.Insert(2, Model.ExamplesRight.FirstOrDefault());
                        foreach (var item in Model.ExamplesLeft)
                        {
                            if (item == null)
                            {
                                continue;
                            }
                            i++;
                            var width = (i == 3 ? 495 : 245);
                            <li class="@(i == 3 ? "m" : "n")">
                                <a target="_blank" href="@item.TextLink">
                                    <img class="lazyload" data-src="@item.ImageUrl" alt="@item.Name" width="@width" height="@width" />
                                    <div class="m-model-text">
                                        <div class="hidetext">
                                            <strong class="name">@item.Name</strong>
                                            <p class="school-name">@item.Text</p>
                                        </div>
                                        <div class="marktext"></div>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@section css{
    @Html.CombineLink("v3/css/home/v1/page-index.css", "v3/plugs/jquery.fullpage/jquery.fullpage.css")
}
@section js{
    @Html.CombineLink(
    "v3/plugs/jquery.fullpage/jquery.fullpage.js",
    "v3/plugs/lazysizes/lazysizes.js",
    "v3/plugs/wow/wow.js",
    "v3/plugs/jquery-tagcanvas.js",
    "v3/js/home/page-home.js"
    )
}