@using System.Linq
@using DayEasy.Utility.Extend
@model System.Collections.Generic.List<TS_QuestionType>
@{
    ViewBag.Title = "题型管理";
}

<div>
    <div class="row">
        <div>
            <span class="btn btn-blue" id="btn-add">
                <i class="fa fa-plus"></i>
                添加题型
            </span>
        </div>
    </div>
    <div class="row mt20">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>包含内容</th>
                    <th>是否多个答案</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var qtype in Model)
                    {
                        var typeStyle = Enum.GetValues(typeof(QuestionTypeStyle)).Cast<QuestionTypeStyle>().Where(u => ((byte)u & qtype.QTypeStyle) > 0).ToList();

                        <tr>
                            <td>@qtype.QTypeName</td>
                            <td>
                                <span class="mr10">
                                    <label class="label label-default">题干</label>
                                </span>
                                @if (typeStyle.Count > 0)
                                {
                                    foreach (var type in typeStyle)
                                    {
                                        <span class="mr10">@(Html.EnumText(type))</span>
                                    }
                                }
                            </td>
                            <td>@(Html.BooleanText(qtype.HasMultiAnswer))</td>
                            <td>@(Html.EnumText<TempStatus, int>(qtype.Status))</td>
                            <td data-id="@qtype.Id">
                                <a href="javascript:void(0)" class="a-edit">编辑</a>
                                @if (qtype.Status == (byte)TempStatus.Delete)
                                {
                                    <a href="javascript:void(0)" class="a-delete ml20">永久删除</a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" class="a-delete ml20">删除</a>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">没有找到相关信息！</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/html" id="addQTypeDiv">
    <form style="width:500px;" id="addForm">
        <div class="row">
            <div class="col-sm-2">名称：</div>
            <div class="col-sm-7 pl0">
                <input type="text" class="form-control" name="typeName" />
            </div>
            <div class="col-sm-3 pl0">
                <label class="checkbox-inline">
                    <input type="checkbox" value="1" name="multiAnswer" />是否多个答案
                </label>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-sm-2">内容：</div>
            <div class="col-sm-10 pl0">
                @{
                    var enums = System.Enum.GetValues(typeof(QuestionTypeStyle)).Cast<QuestionTypeStyle>();
                    foreach (var qstyle in enums)
                    {
                        if ((byte)qstyle == (byte)QuestionTypeStyle.Body)
                        {
                            <label class="checkbox-inline">
                                <input type="checkbox" checked="checked" value="@((byte)qstyle)" name="qstyle" disabled="disabled" />@Html.GetEnumText((byte)qstyle, typeof(QuestionTypeStyle))
                            </label>
                        }
                        else
                        {
                            <label class="checkbox-inline">
                                <input type="checkbox" value="@((byte)qstyle)" name="qstyle" />@Html.GetEnumText((byte)qstyle, typeof(QuestionTypeStyle))
                            </label>
                        }

                    }
                }
            </div>
        </div>
    </form>
</script>

@section script
{
    <script type="text/javascript">
        $(function () {
            //编辑
            $(".a-edit").click(function () {
                var id = $(this).parent("td").data("id");
                $.post("@Url.Action("Edit","QType")", { id: id }, function (res) {
                    $.Dayez.dialog("编辑题型", res, function () {
                        var data = $("#editForm").serialize();
                        $.ajax({
                            url: "/sys/qtypes/add",
                            data: data,
                            type: "POST",
                            success: function (json) {
                                if (json.status) {
                                    window.location.reload();
                                } else {
                                    $.Dayez.tip($(".ui-dialog-button"), json.message, "left");
                                }
                            }
                        });
                        return false;
                    }, function () { });
                });
            });

            //添加
            $("#btn-add").click(function () {
                var addHtml = $("#addQTypeDiv").html();
                $.Dayez.dialog("添加题型", addHtml, function () {
                    var data = $("#addForm").serialize();

                    $.ajax({
                        url: "/sys/qtypes/add",
                        data: data,
                        type: "POST",
                        success: function (json) {
                            if (json.status) {
                                window.location.reload();
                            } else {
                                $.Dayez.tip($(".ui-dialog-button"), json.message, "left");
                            }
                        }
                    });
                    return false;
                }, function () { });
            });

            //删除
            $(".a-delete").click(function () {
                var id = $(this).parent("td").data("id");

                $.Dayez.confirm("您确定要删除该题型?", function () {
                    $.post("/sys/qtypes/delete", { id: id }, function (res) {
                        if (res.status) {
                            window.location.reload();
                        } else {
                            $.Dayez.msg(res.message);
                        }
                    });
                }, function () { });
            });
        });
    </script>
}
