@{
    ViewBag.Title = "常见问题";
}
<div class="container j-autoHeight"
     data-min="350"
     data-left="100"
     data-type="2">
    <div class="nav">
        <a class="active" href="/helper">常见问题<span></span></a>
        <a href="/helper/contact-us">联系我们<span></span></a>
    </div>
    <div class="main">
        <div class="content">
            <div class="q-template" data-type="1">
                <div class="q-header">如何注册？</div>
                <div class="q-content">
                    1）	登录www.dayeasy.net进入“得一”官方网站；
                    <img src="@Url.StaticLink("/image/helper/v1/02_01.jpg")" />
                    2）根据提示输入您常用邮箱、输入验证码、点击“确认”；
                    <img src="@Url.StaticLink("/image/helper/v1/02_02.jpg")" />
                    3）激活账号；
                    <img src="@Url.StaticLink("/image/helper/v1/02_03.jpg")" />
                    4）登录邮箱，进行激活；
                </div>
            </div>
            <div class="q-template" data-type="2">
                <div class="q-header">平台网页登录不了？</div>
                <div class="q-content">
                    <div class="q-panel">
                        <div class="q-panel-title">解决方法：</div>
                        <div class="q-panel-content">
                            <p>1）	网络不给力，F5刷新重试，或Ctrl+F5强制刷新；</p>
                            <p>2）	浏览器不匹配：请使用“chrome”浏览器；</p>
                            <p>若未安装此浏览器，请使用如下方法下载安装：</p>
                            <p> A.在得一平台网站下方直接点击“建议使用chrome浏览器”下载安装。如图所示：</p>
                            <img src="@Url.StaticLink("/image/helper/v1/01_01.jpg")" />
                            <p> B.通过百度搜索“chrome”并下载安装：</p>
                            <img src="@Url.StaticLink("/image/helper/v1/01_02.jpg")" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="q-template" data-type="3">
                <div class="q-header">登录账号不成功？</div>
                <div class="q-content">
                    <div class="q-panel">
                        <p>登录不成功通常会有两种情况：</p>
                        <p>1）	密码不正确：</p>
                        <p><span class="q-reason">原因</span>记错了密码 或 学生修改了密码后仍输入默认密码</p>
                        <div class="q-panel-title">解决方法：</div>
                        <div class="q-panel-content">
                            <p>若使用的是默认帐号，并且忘记了密码，请联系我们。</p>
                            <p>若使用的是自己的邮箱（即之前更改过默认帐号），可以通过找回密码流程，自行重置密码。</p>
                        </div>
                    </div>
                    <div class="q-panel">
                        <p>2）	帐号未注册：</p>
                        <p><span class="q-reason">原因</span>学生或家长 将系统生成的默认帐号改成了自己的邮箱， 这时再用默认帐号登录时，系统会显示“帐号未注册”。</p>
                        <div class="q-panel-title">解决方法：</div>
                        <div class="q-panel-content">
                            家长或学生，使用更改后自己的邮箱帐号登录即可。若忘记更改后的帐号邮箱，请联系我们。
                        </div>
                    </div>
                </div>
            </div>
            <div class="q-template" data-type="4">
                <div class="q-header">错题库下载题目图片无法显示？</div>
                <div class="q-content">
                    <div class="q-panel">
                        <div class="q-panel-title">解决方法：</div>
                        <div class="q-panel-content">
                            <p>1）版本问题：请使用OFFICE 2007及其以上版本，系统暂不支持WPS版本。</p>
                            <p>2）打开方式问题：若使用的版本正确，但打开还是不显示图片，请检查是否既安装了WPS又安装了OFFICE。如果是，请在打开方式里默认使用Office Word打开。鼠标右键选择您下载的Word文档在打开方式里选择Office Word即可。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="q-template" data-type="5">
                <div class="q-header">错题库下载步骤</div>
                <div class="q-content">
                    <img src="@Url.StaticLink("/image/helper/v1/05_01.jpg")" />
                    <img src="@Url.StaticLink("/image/helper/v1/05_02.jpg")" />
                    <img src="@Url.StaticLink("/image/helper/v1/05_03.jpg")" />
                    <img src="@Url.StaticLink("/image/helper/v1/05_04.jpg")" />
                    <img src="@Url.StaticLink("/image/helper/v1/05_05.jpg")" />
                    <img src="@Url.StaticLink("/image/helper/v1/05_06.jpg")" />
                    <img src="@Url.StaticLink("/image/helper/v1/05_07.jpg")" />
                    <img src="@Url.StaticLink("/image/helper/v1/05_08.jpg")" />
                    <img src="@Url.StaticLink("/image/helper/v1/05_09.jpg")" />
                </div>
            </div>
            <div class="q-template" data-type="6">
                <div class="q-header">二维码弄丢了？</div>
                <div class="q-content">
                    <div class="q-panel">
                        <div class="q-panel-title">解决方法：</div>
                        <div class="q-panel-content">
                            <p>遗失二维码后，请咨询老师。二维码是重要的身份标识，一定要妥善保管。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="q-template" data-type="7">
                <div class="q-header">答题弄丢了？</div>
                <div class="q-content">
                    <div class="q-panel">
                        <div class="q-panel-title">解决方法：</div>
                        <div class="q-panel-content">
                            <p>可找老师解决。</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="q-template" data-type="8">
                <div class="q-header">阅卷时无法绑定学生？</div>
                <div class="q-content">
                    <div class="q-panel">
                        <p>阅卷中发现学生未绑定，但是在未绑定名单中没有该学生的名字，可能是由于以下原因导致：</p>
                        <p><span class="text-primary">情况1、</span> 这个同学是其他班的。</p>
                        <p><span class="text-primary">情况2、</span> 这个同学重复扫描了两次，之前那次已经绑定成功了</p>
                        <p><span class="text-primary">情况3、</span> 其他同学贴了这个同学的二维码。</p>
                        <div class="q-panel-title">解决方法：</div>
                        <div class="q-panel-content">
                            <p>首先验证该同学是否是本班学生：</p>
                            <p>如果不是，则为<span class="text-primary">情况1</span>，可以忽略该学生，继续完成批阅；</p>
                            <p>如果是，则查看右上角学生名单中是否已有该同学名字，如果已有该同学名字，点击其名字、查看试卷上手写的名字与二维码名字是否一致：</p>
                            <p> <b class="pr10">●</b>如果一致则确认是<span class="text-primary">情况2</span>，证明已经批阅过这个学生了，可以忽略该张未识别试卷，完成其他批阅即可；</p>
                            <p> <b class="pr10">●</b>如果不一致则确认是<span class="text-primary">情况3</span>，有其他的同学贴了这个同学的二维码，请点击阅卷页面左上角“解除绑定”按钮将二维码贴错的。</p>
                            <p>同学解绑，并将正确的名字与试卷绑定。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="q-back">
                <a class="btn btn-default" href="/helper">返回</a>
            </div>
            <div class="q-hots q-hots-bottom">
                <h5>相关问题</h5>
                <ul></ul>
            </div>
        </div>
    </div>
</div>
@section css{
    @Html.CombineLink("css/helper/base.css")
}
@section js{
    @Html.CombineLink("js/helper/questions.js")
    <script>
        (function (S) {
            S.loadQuestion();
        })(SINGER);
    </script>
}
